          
            body {
                background-color: #d7a2de;
                width: 80%;
                margin-left: 10%;
            }
            
            .flex-elem {
                display: flex;
            }
            .container {
                flex-direction: column;
                height: 80%;
                text-align: center;
                background-color: none;
            }
           
            .row {
                flex: 1;
                justify-content: space-evenly;
                align-items: center;
            }

            .cell {
                width: 270px;
                height: 100px;
                background-color: purple;
                position: relative;
                border-radius: 5%;
            }



            .row2 {
                flex: 1;
                justify-content: space-between;
                align-items: center;
                margin-left: 65px;
                margin-right: 65px;
            }

            .cell p {
                margin: 0;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: white;
                font-size: 30px;
            }
            .cell a {
                margin: 0;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: white;
                font-size: 30px;
                text-decoration: none;
            }

            .cell2 {
                width: 270px;
                height: 100px;
                background-color: purple;
                position: relative;
                border-radius: 50%;
                    
            }
            .cell2 a {
                margin: 0;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: white;
                font-size: 30px;
                text-decoration: none; 
            }
            .cell2 p {
                margin: 0;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: white;
                font-size: 30px;
            }

