
*{
    padding: 0px;
    margin: 0px;
 }

body {
    color: #000;
}

.page_name {
    background-color: rgb(221, 42, 42);
    height: 5%;
    min-height: 3px;
    text-align: center;
    position: middle;
    font-size: 40px;

}

.menu{
    background-color: aqua;
    width: auto;
    height: 50px;
    min-height: 3px;
    text-align: center;
    font-size: 40px;


    margin: 0px;
    padding: 0px;
}

#link{
    margin: 0px;
    padding: 20px;
}



.main{
    margin-left: auto;
    margin-right: auto;
    background-color: pink;
    height: 100%;

}

.left_side{
    background-color: yellow;
    height: 100%;
    width: 10%;
    float: left;
  
}

.pictures{
    background-color: white;
    height: 100%;
    width: 80%;
    float: left;
    text-align: center;

 
}

.div_cycrle{
    width: 40%;
    height: 50%;
}

.right_side{
    background-color: rgb(208, 255, 0);
    height: 100%;
    width: 10%;
    float: left;

}




