          
            *{
                padding: 0px;
                margin: 0px;
             }
                        
            body {
                background-color: #d7a2de;
            }
            
            .flex-elem {
                display: flex;
            }
            
            .container {
                flex-direction: column;
                height: 80%;
                width: 80%;
                background-color: none;
                margin: auto;
            }
           
            .row {
                flex: 1;
                justify-content: space-evenly;
                align-items: center;
                flex-wrap: wrap;
            }


           .button{   
                display: inline-block;
                position: relative;

                width: 270px;
                height: 100px;
                border-radius: 5%;
                box-shadow: -10px 9px rgb(167, 99, 167);
                background-color: purple; 
                margin: 0;

                color: white;
                font-size: 30px;
                text-decoration: none;
                text-align: center;
                line-height: 100px;
                
            }

            .button:hover {background-color: purple}

            .button:active {
                background-color: rgb(196, 40, 196);
                box-shadow: 0 2px #666; 
                transform: translateY(4px);
            }

            .button2{   
                display: inline-block;
                position: relative;

                width: 270px;
                height: 100px;
                border-radius: 5%;

                background-color: purple; 
                margin: 0;

                color: white;
                font-size: 30px;
                text-decoration: none;
                text-align: center;
                line-height: 100px;
                
            }

            .button2:hover {
                box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
            }

            .button2:active {
                background-color: rgb(196, 40, 196);
                /* box-shadow: 0 5px #666; */
                transform: translateY(4px);
            }
